*{ /*config da pag*/
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

/*comeco do header*/
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #855CD3;
    height: 30vh;
}
.header > img{
    margin-top: 20px;
}
.menu{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 130px;
    background: #36198A;
    width: 100vw;
    height: 8vh;
    transition: 2s all;
}

.menu > a{
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 1s all;
}


.menu > a:hover{
    transform: scale(1.1);
    color:#b997f8;
/*fim do header*/

/*comeco do main*/
.formulario{ /*section do formulario*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

fieldset{
    border: none;
}

input{
    border-radius: 200px;
    transition: 1s all;
}

input:hover{
    background-color: rgb(221, 221, 221);
}
.inputs{
    padding: 2vh 10vw;
}

.fieldset-nome , .fieldset-sobrenome , .fieldset-endereco, .fieldset-telefone{
    margin-top: 20px;
}

.fieldset-botao{
    margin-top: 30px;
    margin-left: 40vh;
}

input[type=button]{
    width: 200px;
    height: 50px;
    border-radius: 200px;
    border: 5px #000;
    background: #5130A2;
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    transition: .8s all;
}

input[type=button]:hover{
    transform: scale(1.02);
    background-color: #b997f8;
    color: #000;
}

/*inicio footer*/
.rodape{ /*configurando o footer*/
    height: 40vh;
    width: 100vw;
    background: #1c0371;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons{ /*icones do x,instagram e face*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
}

.icons > img{ /*tamanho dos icons*/
    width: 40px;
}

.img-footer{ /*logotipo*/
    margin-right: 70px;
}

.txt-footer{ /*slogan*/
    position: relative;
    right: 80px;
    color: #FFF;
    font-weight: 600;
    font-size: 18px; 
}

.caixa{ /*background azul*/
    height: 10vh;
    background-color: #160354;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
/*FIM DO FOOTER*/

/*responsividade*/
@media only screen and (max-width: 815px) { /*celulares maiores*/
    .menu{
        gap: 80px;
    }

    .formulario{ /*section do formulario*/
        flex-direction: column;
    }

    .fieldset-botao{
        margin-top: 50px;
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rodape{
        flex-direction: column;
        height: 60vh;
        width: auto;
        justify-content: center;
        align-items: center;
       }
    
       .img-footer{
        margin-right: 0;
       }
    
       .txt-footer{
        position: relative;
        right: 0;
        left: 15px;
       }

}

@media only screen and (max-width: 600px) {
    .menu{
        width: 100vw;
        gap: 75px; 
    }
    .menu > a{
        font-size: 20px;
    }
}

@media only screen and (max-width: 466px){ /*celulares*/
    .menu{
        width: 100vw;
        gap: 25px; 
    }
    .menu > a{
        font-size: 20px;
    }

}

@media only screen and (max-width: 350px){ /*celulares DEBUG*/
    .menu{
        width: 100vw;
        gap: 15px; 
    }
    .menu > a{
        font-size: 15px;
    }
}