* {
    /*config da pag*/
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

/*comeco do header*/
.header {
    /*configuracao da div pai de todos do menu*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #855CD3;
    height: 30vh;
}

.header>img {
    /*tamanho da logo*/
    margin-top: 20px;
}

.menu {
    /*configuraçao da nav menu*/
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 130px;
    background: #36198A;
    width: 100vw;
    height: 8vh;
    transition: 2s all;
}

.menu>a {
    /*texto menu personalizacao*/
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 1s all;
}


.menu>a:hover {
    /*animacao opcoes menu*/
    transform: scale(1.1);
    color: #b997f8;
}

/*fim do header*/

/*comeco do main*/

.galeria {
    /*tela1 - div de todas as fotos*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.foto1>img {
    /*tela1 - foto maior*/
    width: 490px;
}

.gallery {
    /*tela1 - fotos menores*/
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    ;
}

.gallery>img {
    /*tela1 - tamanho das fotos menores*/
    width: 220px;
}

.galeria2 {
    /*tela2 - div de todas as fotos*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 150px;
}

.gallery2 {
    /*tela2 - fotos menores*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery2>img {
    /*tela2 - fotos menores tamanho*/
    width: 300px;
}

.foto2>img {
    /*tela2 - foto maior tamanho*/
    width: 600px;
}

/*fim do main*/

/*inicio footer*/
.rodape {
    /*configurando o footer*/
    height: 40vh;
    width: 100vw;
    background: #1c0371;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    /*icones do x,instagram e face*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
}

.icons>img {
    /*tamanho dos icons*/
    width: 40px;
}

.img-footer {
    /*logotipo*/
    margin-right: 70px;
}

.txt-footer {
    /*slogan*/
    position: relative;
    right: 80px;
    color: #FFF;
    font-weight: 600;
    font-size: 18px;
}

.caixa {
    /*background azul*/
    height: 10vh;
    background-color: #160354;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

/*FIM DO FOOTER*/

/*responsividade*/
@media only screen and (max-width: 815px) {

    /*celulares maiores*/
    .menu {
        gap: 80px;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .gallery>img {
        width: 360px;
    }

    .galeria {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .gallery2 {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .galeria2 {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        gap: 50px;
        height: auto;
    }

    .gallery2>img {
        width: 400px;
    }

    .rodape {
        flex-direction: column;
        height: 60vh;
        width: auto;
        justify-content: center;
        align-items: center;
    }

    .img-footer {
        margin-right: 0;
    }

    .txt-footer {
        position: relative;
        right: 0;
        left: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .menu {
        width: 100vw;
        gap: 75px;
    }

    .menu>a {
        font-size: 20px;
    }

    .foto2>img {
        width: 540px;
    }
}

@media only screen and (max-width: 466px) {

    /*celulares*/
    .menu {
        width: 100vw;
        gap: 25px;
    }

    .menu>a {
        font-size: 20px;
    }

    .foto1>img {
        width: 480px;
    }

    .foto2>img {
        width: 480px;
    }
}