*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}
/*INICIO DO HEADER*/
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #855CD3;
    height: 30vh;
}
.header > img{
    margin-top: 20px;
}
.menu{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 130px;
    background: #36198A;
    width: 100vw;
    height: 8vh;
    transition: 2s all;
}

.menu > a{
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 1s all;
}


.menu > a:hover{
    transform: scale(1.1);
    color:#b997f8;
}

/*FIM DO HEADER*/

/*INICIO DO MAIN*/
.sobre-1{   /*TELA 1*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.sobre-1 > h1{ /*TELA 1 - TITULO*/
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: left;
}

.sobre-1 > p{ /*TELA 1 - PARAGRAFO*/
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 70vw;
    text-align: center;
}

.sobre-2{ /*TELA 2*/
    display: flex;
    height: 80vh;
}

.img-sobre{ /*TELA 2 - DIV-IMG (CONFIG)*/
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-sobre > img{ /*TELA 2 - IMG*/
    width: 500px;
    margin-left: 200px;
}

.texto-botao{ /*TELA 2 - TEXTO E BOTÃO*/
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.texto-botao > p{ /*TELA 2 - TEXTO E BOTÃO - PARAGRAFO*/
    width: 40vw;
    font-size: 25px;
}

.texto-botao > button{ /*TELA 2 - TEXTO E BOTÃO - BOTÃO*/
    width: 300px;
    height: 70px;
    border-radius: 200px;
    border: 5px #000;
    background: #5130A2;
    color: #FFF;
    font-weight: bold;
    font-size: 25px;
    transition: .8s all;
}

.texto-botao > button:hover{ /*TELA 2 - TEXTO E BOTÃO - BOTAO ANIMAÇÃO*/
    transform: scale(1.02);
    background-color: #b997f8;
    color: #000;
}

.txt-sobre{ /*TELA 2 - TEXTO FINAL (CLASS)*/
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 55vw;
    text-align: center;
}

.txt-sobre-final{ /*TELA 2 - TEXTO FINAL (SECTION)*/
    display: flex;
    justify-content: center;
    align-items: center;
}
/*FIM DO MAIN*/

/*inicio footer*/
.rodape{ /*configurando o footer*/
    height: 40vh;
    width: 100vw;
    background: #1c0371;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons{ /*icones do x,instagram e face*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
}

.icons > img{ /*tamanho dos icons*/
    width: 40px;
}

.img-footer{ /*logotipo*/
    margin-right: 70px;
}

.txt-footer{ /*slogan*/
    position: relative;
    right: 80px;
    color: #FFF;
    font-weight: 600;
    font-size: 18px; 
}

.caixa{ /*background azul*/
    height: 10vh;
    background-color: #160354;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
/*FIM DO FOOTER*/

@media only screen and (max-width: 600px) { /*celulares maiores*/
    .menu{
       width: 100vw;
       gap: 60px; 
   }

   .menu > a{
       font-size: 20px;
   }

   .header{
    height: auto;
   }

   .sobre-1 > p{
    width: 95vw;
    height: auto;
    font-size: 23px;
   }

   .sobre-1{
    margin-bottom: 50px;
   }

   .sobre-2{
    flex-direction: column;
    width: auto;
    height: auto;
   }

    .img-sobre{
        width: auto;
        height: auto;
    }

   .img-sobre > img{ /*TELA 2 - IMG*/
    width: 350px;
    margin-left: 0px;
    }

   .texto-botao{
    width: auto;
   }
   
   .texto-botao > p{
    width: 90vw;
    text-align: center;
    margin-top: 20px;
    font-size: 23px;
   }

   .txt-sobre-final{
    margin-top: 50px;
   }

   .txt-sobre{
    width: 90vw;
    text-align: center;
   }

   .rodape{
    flex-direction: column;
    height: 60vh;
    width: auto;
    justify-content: center;
    align-items: center;
   }

   .img-footer{
    margin-right: 0;
   }

   .txt-footer{
    position: relative;
    right: 0;
    left: 15px;
   }
}

@media only screen and (max-width: 466px){ /*celulares*/
    .menu{
        width: 100vw;
        gap: 25px; 
    }
    .menu > a{
        font-size: 20px;
    }
}